.board {
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  width: 180px;
}

.game {
  align-items: center;
  display: none;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 80px);
}