<div className="inputs-container">
  <label className="label">
    Rows:
    <input className="input" type="text" [(ngModel)]="state.rows" [disabled]="state.gameRunning" />
  </label>
  <label className="label">
    Columns:
    <input className="input" type="text" [(ngModel)]="state.columns" [disabled]="state.gameRunning" />
  </label>
</div>

<div className="buttons-container">
  <button className="button" type="button" (click)="handleStart()">
    Start
  </button>
  <button className="button" type="button" (click)="handleStop()">
    Stop
  </button>
</div>
<div className="board">
  <!-- Board repeat in here -->
</div>