<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-item [disabled]="state.gameRunning">
          <ion-label position="floating">Columns</ion-label>
          <ion-input type="number" [(ngModel)]="state.columns" min="1" max="13"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item [disabled]="state.gameRunning">
          <ion-label position="floating">Rows</ion-label>
          <ion-input type="number" [(ngModel)]="state.rows" min="1" max="18"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
  <div class="game" id="game">
    <ul class="board" id="board">
      <div *ngFor="let column of returnArrayForNgFor(state.columns); let i = index">
        <app-cell (click)="state.board.storeCell({x: i, y: j})" [live]="state.board.isCellAlive({x: i, y: j})" [position]="{x: i, y: j}" *ngFor="let row of returnArrayForNgFor(state.rows); let j = index"></app-cell>
      </div>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="full" *ngIf="!state.gameRunning" (click)="handleStart()">Start</ion-button>
  <ion-button color="danger" expand="full" *ngIf="state.gameRunning" (click)="handleStop()">Stop</ion-button>
</ion-footer>