.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.input {
  margin: 5px;
  padding: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}

.board {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px 60px;
  border: black dotted 2px;
}